*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(19, 36, 226);
    background-color: black;

    /* Remove later */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 650px;
    height: 650px;
    color: aqua;
    background-color: rgb(19, 36, 226);
    gap: 7px;
}

.cell-selection {
    background-color: rgb(155, 28, 246);
}

.cell-selection:hover {
    cursor: pointer;
}