*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: green;
    background-color: black;

    /* Remove later */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 700px;
    height: 700px;
    color: aqua;
    background-color: purple;
    border: 2px solid rebeccapurple;
}

.slot {
    border: 2px solid white;
}