*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme for game is Wooden (Mid-Century Oak & Maple) */
:root {
    --board-frame: #8D5B4C;
    --slot-selection: #EED7C5;
    --slot-selection-hover: #E4C5B3;
    --markers: #4A2810;
}

body {
    color: rgb(19, 36, 226);
    background-color: black;

    /* Remove later */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 650px;
    height: 650px;

    color: var(--markers);
    /* font-size: 150px; */
    /* text-align: center; */
    background-color: var(--board-frame);
    gap: 7px;
}

.cell-selection {
    display: grid;
    place-items: center;

    font-size: 150px;

    background-color: var(--slot-selection);
}

.cell-selection:hover {
    cursor: pointer;
    background-color: var(--slot-selection-hover);
}